<!doctype html>
<html lang="en">
<head>
    <title>Casa De Oración</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/logochico.jpg" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <header role="banner">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">Casa De Oracion</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("index")'>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("sermon")'>Sermones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("events")'>Eventos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href='@Url.Action("about")'>Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("blog")'>Blog</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_2.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center site-hero-inner">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <div class="block-17">
                            <h1 class="heading mb-4"><strong>Acerca de Nosotros</strong></h1>
                            <div class="lead">
                                <p style="font-size:30px; text-align:justify">
                                    <strong>
                                        Pues Dios nos salvó y nos llamó a una vida santa, no por nuestras propias obras, sino por su propia determinación y gracia.
                                        Nos concedió este favor en Cristo Jesús antes del comienzo del tiempo.
                                    </strong>
                                </p>

                                <p style="font-size:30px; text-align:center">2 Timoteo 1:9</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->



    <section class="site-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <figure>
                            <img src="~/images/jesus.jpg" alt="Image placeholder" class="img-fluid img-shadow">
                            <a href="https://www.youtube.com/watch?v=QVPFx9sFarE" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">

                    <div class="block-15">
                        <div class="heading">
                            <h2>Casa De Oración...</h2>
                        </div>
                        <div class="text mb-5">
                            <p class="mb-4" style="text-align:justify">
                                Iglesia fundada hace casi 5 años con el proposito de compartir el evangelio a toda persona
                                y servir conforme al proposito de Dios
                                el cual quiere que todos los hombres sean salvos y vengan al conocimiento de la verdad

                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- END section -->


    <div class="container site-section">
        <div class="container">


            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading mb-5">
                        <h2 class="heading">Misión y Visión</h2>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <section class="site-section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">
                            <span class="icon-wrapper">
                                <span class="icon fa fa-book text-primary"></span>
                            </span>

                        </div>
                        <div class="block-43-text">
                            <h3 class="block-43-heading">Misión y Visión</h3>
                            <p style="text-align:justify">
                                Mantener una relación intima con Dios
                                Permitiendo que su naturaleza nos gobierne
                                y que su amor, santidad, se extienda por medio
                                de nosotros al mundo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">


                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">
                            <span class="icon-wrapper">
                                <span class="icon fa fa-heart text-primary"></span>
                            </span>

                        </div>
                        <div class="block-43-text">
                            <h3 class="block-43-heading">Visión</h3>
                            <p style="text-align:justify">
                                Discipular a cada miembro de la iglesia
                                hasta que alcancen la madurez en Cristo
                                y ejerzan el proposito que Dios les ha dado para estar
                                en el mundo a manera que sea Glorificado
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2 class="heading">Nuestros Servicios</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="block-13">
            <div class="nonloop-block-13 owl-carousel">
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/culto.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Reunión día Viernes</a></h3>
                            <p style="text-align:justify">
                                Que la palabra de Cristo habite en abundancia en ustedes, con toda sabiduría enseñándose y amonestándose unos a otros con salmos,
                                himnos y canciones espirituales, cantando a Dios con acción de gracias en sus corazones.
                                <br /> Colosenses 3:16
                                <br />
                            </p>
                            <p> De 19:30 a 21:30</p>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/culto2.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Reunión día Domingo</a></h3>
                            <p style="text-align:justify">
                                Venid, aclamemos alegremente a Jehová;
                                Cantemos con júbilo a la roca de nuestra salvación.
                                Lleguemos ante su presencia con alabanza;
                                Aclamémosle con cánticos.
                                Porque Jehová es Dios grande,
                                Y Rey grande sobre todos los dioses.
                                <br />
                                Salmos 95:1-3
                                <br />
                            </p>
                            <p>De 11:00 a 13:00</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/image_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Estudio Biblíco</a></h3>
                            <p style="text-align:justify">
                                Porque la palabra de Dios es viva y eficaz, y más cortante que toda espada de dos filos;
                                y penetra hasta partir el alma y el espíritu, las coyunturas y los tuétanos, y discierne
                                los pensamientos y las intenciones del corazón.
                                <br />
                                Y no hay cosa creada que no sea manifiesta en su presencia...
                            </p>
                            <p>Hebreos 4:12-13</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/image_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Clases de Musica</a></h3>
                            <p style="text-align:justify">
                                Alaben a Dios con sonido de trompeta;
                                Alábenlo con arpa y lira.
                                Alaben a Dios con pandero y danza;
                                Alábenlo con instrumentos de cuerda y flauta.
                                Alaben a Dios con címbalos sonoros;
                                Alábenlo con címbalos resonantes.
                                <br />
                            </p>
                            <br />
                            <br />
                            <p> <strong>Salmos 103:3-5</strong></p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>




    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/main.js"></script>
</body>
</html>
