<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/logochico.jpg" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>

    <div class="wrap">
        <header role="banner">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand absolute" href="index.html">Casa De Oracion</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href='@Url.Action("index")'>Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("sermon")'>Sermones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("events")'>Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("about")'>Acerca de</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href='@Url.Action("blog")'>Blog</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>
    </div>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(~/images/imagen.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center site-hero-inner">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <div class="block-17">

                            <h1 class="heading mb-4" style="font-size:50px"> <strong>La mejor invitación que alguna vez vas a recibir</strong></h1>
                            <span class="lead" style="font-size:30px"><strong>Posteado en Mayo 1, 2020 por Mario Maya</strong></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->





    <div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-8 order-md-2 pl-lg-5">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 mb-5">

                            <p class="lead">Vivimos en un mundo lleno de intranquilidad.</p>
                            <p style="text-align:justify;">
                                ¿Está todavía vigente la Palabra de Dios en nuestros tiempos? <br />
                                ¿Se puede tener un verdadero descanso para nuestra alma, así como Jesús nos lo ofrece aquí? Por supuesto que sí; la Palabra de Dios es inmutable, y tan verdadera como que Dios vive, por eso se mantiene.
                            </p>

                            <blockquote>
                                <p style="text-align:justify">
                                    La paz les dejo; mi paz les doy. Yo no se la doy a ustedes como la da el mundo.
                                    No se turbe su corazón, ni tenga miedo
                                </p>
                                <p style="text-align:right">Juan 14:27</p>
                            </blockquote>


                            <p style="text-align:justify">Ante cualquier situación difícil podemos ser indiferentes y decir que no nos importa; podemos alarmarnos, entrar en desesperación y pánico o podemos fortalecer nuestra fe en Nuestro Señor y Salvador, y aprovechar este tiempo para entrar en “aislamiento” con Dios, Él siempre está esperándonos con sus brazos abiertos, para perdonarnos si nos arrepentimos.</p>
                            <p style="text-align:justify">Hoy tomemos un momento para meditar y dejarnos atrapar por el amor de Dios en intimidad. En momentos de calamidad, agradecimiento es fe, porque estamos seguros que todas las cosas nos ayudan a bien. No estemos afanosos, como un acto de fe demos gracias por lo que Dios está haciendo y hará.</p>
                            <blockquote>
                                <p style="text-align:justify">
                                    “Mi seguridad en el futuro descansa en mi confianza en el Dios que controla la historia”
                                </p>
                                <p style="text-align:right">R.C. Sproul</p>
                            </blockquote>
                            <p style="text-align:justify">
                                El arrepentimiento es el antecedente necesario para poder experimentar la Gracia de Dios.
                                Se presentan varios motivos para el arrepentimiento quiero señalar dos,:1° La bondad de Dios que guía al arrepentimiento Romanos 2:4 4¿O menosprecias las riquezas de su benignidad, paciencia y longanimidad, ignorando que su benignidad te guía al arrepentimiento?
                                2° El juicio que se avecina, en razón del cual Dios manda a todos los hombres a que se arrepientan.
                            </p>
                            <blockquote>
                                <p style="text-align:justify">
                                    Pero Dios, habiendo pasado por alto los tiempos de esta ignorancia, ahora manda a todos los hombres en todo lugar, que se arrepientan;
                                    por cuanto ha establecido un día en el cual juzgará al mundo con justicia, por aquel varón a quien designó, dando fe a todos con haberle levantado de los muertos.
                                </p>
                                <p style="text-align:right">Hechos 17 :30-31</p>
                            </blockquote>
                            <p style="text-align:justify">
                                Dios por su gloria y para su gloria da la oportunidad del arrepentimiento y el retorno de los hombres a Dios, así Dios acerca a los hombres al arrepentimiento pues su justicia a quedado cubierta y salvaguardada con el sacrificio de Cristo.
                                De esta manera el testimonio Divino, es el arrepentimiento para con Dios y la fe en Nuestro Señor Jesucristo
                            </p>




                            <div class="pt-5">
                                <div id="disqus_thread"></div>
                                <script>

                                    /**
                                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                    /*
                                    var disqus_config = function () {
                                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                    };
                                    */
                                    (function () { // DON'T EDIT BELOW THIS LINE
                                        var d = document, s = d.createElement('script');
                                        s.src = 'https://casadeoracion-1.disqus.com/embed.js';
                                        s.setAttribute('data-timestamp', +new Date());
                                        (d.head || d.body).appendChild(s);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            </div>

                        </div>
                    </div>


                </div>
                <!-- END content -->
                <div class="col-md-6 col-lg-4 order-md-1">

                    <div class="block-24 mb-5">
                        <h3 class="heading">Proposito</h3>
                        <p style="text-align:justify">Ayudar a los lectores a poder comprender algunos temas y/o debatir sobre los mismos</p>

                    </div>






                </div>
                <!-- END Sidebar -->
            </div>
        </div>
    </div>





    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/main.js"></script>
</body>
</html>