<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/logochico.jpg" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="wrap">
        <header role="banner">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand absolute" href="index.html">Casa De Oracion</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href='@Url.Action("index")'>Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("sermon")'>Sermones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("events")'>Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("about")'>Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("blog")'>Blog</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>
    </div>
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image:url(/images/big_image_2.jpg)">
        <div class="container">
            <div class="row align-items-center justify-content-center site-hero-inner">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <div class="block-17">
                            <h2 class="heading mb-4" style="text-align:center">
                                <strong>
                                    Miren a mí y sean salvos todos los terminos de la tierra
                                    por que yo soy Dios y no hay más.
                                </strong>

                            </h2>
                            <h2 style="color:white; font-family:'Rubik';text-align:center;font-size:40px"><strong>Isaias 45:22</strong></h2>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- END section -->



    <section class="site-section">
        <div class="container">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                ¿Necesitas Ayuda?
            </button>

            <!-- Modal -->
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Escribe Hola para iniciar la conversasión</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://powerva.microsoft.com/webchat/bots/96146779-4a01-4836-b3c4-dbb7c12b5999" frameborder="0" style="width: 450px; height: 530px;"></iframe>
                            </div>
                        </div>
                    </div>
           </div>
            
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <figure>
                            <img src="~/images/jesus.jpg" alt="Image placeholder" class="img-fluid img-shadow">
                            <a href="https://www.youtube.com/watch?v=DEuPGuTjsGU" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">

                    <div class="block-15">
                        <div class="heading">
                            <h2>Bienvenidos a Casa De Oración</h2>
                        </div>
                        <div class="text mb-5">
                            <p class="mb-4" style="text-align:justify">
                                Así pues, ya no sois extraños ni extranjeros, sino que sois conciudadanos de los santos y sois de la familia de Dios, edificados sobre el fundamento de los apóstoles y profetas,
                                siendo Cristo Jesús mismo la piedra angular, en quien todo el edificio, bien ajustado, va creciendo para ser un templo santo en el Señor,
                                en quien también vosotros sois juntamente edificados para morada de Dios en el Espíritu.

                            </p>
                            <p class="text-black"> <strong>Efesios 2:19-22</strong></p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- END section -->

    <section class="site-section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">
                            <span class="icon-wrapper">
                                <span class="icon fa fa-book text-primary"></span>
                            </span>

                        </div>
                        <div class="block-43-text">
                            <h3 class="block-43-heading">Leer la biblia</h3>
                            <p style="text-align:justify">
                                Toda la Escritura es inspirada por Dios y útil para enseñar, para reprender, para corregir y para instruir en la justicia, a fin de que el siervo de Dios esté enteramente capacitado para toda buena obra.
                                <br /> 1 Timoteo 3:16-17
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">
                            <span class="icon-wrapper">
                                <span class="icon fa fa-user text-primary"></span>
                            </span>

                        </div>
                        <div class="block-43-text">
                            <h3 class="block-43-heading">Conocete a ti mismo</h3>
                            <p style="text-align:justify">
                                Si confesamos nuestros pecados, El es fiel y justo para perdonarnos los pecados y para limpiarnos de toda maldad.
                                <br /><br /><br /> 1 Juan 1:9
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="block-43">
                        <div class="block-43-icon">
                            <span class="icon-wrapper">
                                <span class="icon fa fa-heart text-primary"></span>
                            </span>

                        </div>
                        <div class="block-43-text">
                            <h3 class="block-43-heading">Amor Fraternal</h3>
                            <p style="text-align:justify">
                                Un mandamiento nuevo os doy: que os améis los unos a los otros; que como yo os he amado, así también os améis los unos a los otros. En esto conocerán todos que sois mis discípulos, si os tenéis amor los unos a los otros.
                                <br /> Juan 13:34-35
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2 class="heading">Nuestros Servicios</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="block-13">
            <div class="nonloop-block-13 owl-carousel">
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/culto.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Reunión día Viernes</a></h3>
                            <p style="text-align:justify">
                                Que la palabra de Cristo habite en abundancia en ustedes, con toda sabiduría enseñándose y amonestándose unos a otros con salmos,
                                himnos y canciones espirituales, cantando a Dios con acción de gracias en sus corazones.
                                <br /> Colosenses 3:16
                                <br />
                            </p>
                            <p> De 19:30 a 21:30</p>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images/culto2.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Reunión día Domingo</a></h3>
                            <p style="text-align:justify">
                                Venid, aclamemos alegremente a Jehová;
                                Cantemos con júbilo a la roca de nuestra salvación.
                                Lleguemos ante su presencia con alabanza;
                                Aclamémosle con cánticos.
                                Porque Jehová es Dios grande,
                                Y Rey grande sobre todos los dioses.
                                <br />
                                Salmos 95:1-3
                                <br />
                            </p>
                            <p>De 11:00 a 13:00</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-20">
                        <figure>
                            <a href="#"><img src="~/images//image_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="text text-center">
                            <h3 class="heading"><a href="#">Estudio Biblíco</a></h3>
                            <p style="text-align:justify">
                                Porque la palabra de Dios es viva y eficaz, y más cortante que toda espada de dos filos;
                                y penetra hasta partir el alma y el espíritu, las coyunturas y los tuétanos, y discierne
                                los pensamientos y las intenciones del corazón.
                                <br />
                                Y no hay cosa creada que no sea manifiesta en su presencia...
                            </p>
                            <p>Hebreos 4:12-13</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="section-heading mb-5">
                        <h2 class="heading">Ultimos Sermones</h2>
                    </div>
                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="#">El fin de todo</a></h3>
                            <div class="block-44-meta" style="padding-right:50px">Posteada en Abril 5, 2020, Pastor Mario Maya</div>
                            <div class="block-44-icons">
                                <a href="" class=""><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/cancion4.mp3" controls="controls" loop="loop" style="padding-right:50px"></audio>

                            </div>
                        </div>
                    </div>

                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="#">¿Qué todo lo haga Dios?</a></h3>
                            <div class="block-44-meta" style="padding-right:50px">Posteado en  Abril 3, 2020, Pastor Mario Maya</div>
                            <div class="block-44-icons">
                                <a href="#" class=""><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/cancion3.mp3" controls="controls" loop="loop" style="padding-right:50px"></audio>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 mb-5">

                    <div class="section-heading mb-5">
                        <h2 class="heading">Últimos Eventos</h2>
                    </div>

                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_4_large.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="#">Una Segunda Oportunidad</a></h3>
                            <div class="block-44-meta mb-2">Realizado el Sábado 6,Julio, 2019</div>
                            <p>
                                Y tomando a la niña por la mano, le dijo: Talita cumi (que traducido significa: Niña, a ti te digo, ¡levántate!
                                <br />Marcos 5:41
                                <br /> Y dijo: Joven, a ti te digo, levántate.
                                <br /> Lucas 7:14
                            </p>


                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>



    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/main.js"></script>
</body>
</html>