<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/logochico.jpg" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="wrap">
        <header role="banner">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand absolute" href="index.html">Casa De Oracion</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("index")'>Inicio</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href='@Url.Action("sermon")'>Sermones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("events")'>Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("about")'>Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("blog")'>Blog</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_2.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center site-hero-inner">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <div class="block-17">
                            <h1 class="heading mb-4"><strong>Sermones</strong></h1>
                            <div class="lead">
                                <h2 style="color:white; font-size:40px">
                                    <strong>
                                        Sécase la hierba, marchítase la flor; mas la palabra
                                        del Dios nuestro permanece para siempre.
                                    </strong>

                                </h2>
                                <br />
                                <h2 style="text-align:center;color:white;font-size:40px"> <strong>Isaias 40:8</strong></h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->





    <section class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block-36">
                        <h3 class="block-36-heading">La Biblia es:</h3>
                        <p>
                            Lámpara es a mis pies tu palabra,
                            Y lumbrera a mi camino.
                        </p>
                        <p style="text-align:right"> Salmos 119:105</p>
                        <p>
                            La exposición de tus palabras alumbra;
                            Hace entender a los simples.
                        </p>
                        <p style="text-align:right"> Salmos 119:130</p>
                        <p>
                            Porque recta es la palabra de Dios,
                            Y toda su obra es hecha con fidelidad.
                        </p>
                        <p style="text-align:right"> Salmos 33:4</p>

                    </div>
                </div>
                <div class="col-md-8 pl-md-5">


                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="#">El fin de todo</a></h3>
                            <div class="block-44-meta" style="padding-right:40px">Posteada en Abril 5, 2020, Pastor Mario Maya</div>
                            <div class="block-44-icons">
                                <a href="#" class=""><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/cancion4.mp3" controls="controls" loop="loop" style="padding-right:40px"></audio>
                            </div>
                        </div>
                    </div>

                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="#">¿Qué todo lo haga Dios?</a></h3>
                            <div class="block-44-meta" style="padding-right:40px">Posteado en  Abril 3, 2020, Pastor Mario Maya</div>
                            <div class="block-44-icons">
                                <a href="#" class=""><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/cancion3.mp3" controls="controls" loop="loop" style="padding-right:40px"></audio>
                            </div>
                        </div>
                    </div>

                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="sermon-single.html">No nos estanquemos en el pasado</a></h3>
                            <div class="block-44-meta" style="padding-right:50px">Posteado en Diciembre 31, 2019, Pastor Mario Maya</div>
                            <div class="block-44-icons">
                                <a href="#"><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/cancion2.mp3" controls="controls" loop="loop" style="padding-right:40px">
                                </audio>


                            </div>
                        </div>
                    </div>

                    <div class="block-44 d-flex mb-3">
                        <div class="block-44-image"><img src="~/images/image_tall_2.jpg" alt="Image placeholder"></div>
                        <div class="block-44-text">
                            <h3 class="block-44-heading"><a href="sermon-single.html">Todo pertenece a Cristo</a></h3>
                            <div class="block-44-meta" style="padding-right:50px">Posteado en Diciembre 24, 2019, Pastor Mario Maya</div>
                            <div class="block-44-icons">

                                <a href="#" class=""><span class="fa fa-headphones"></span></a>
                                <audio class="mostrar" id="sermones" src="~/audios/Cancion.mp3" controls="controls" loop="loop" style="padding-right:40px">
                                </audio>


                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>




    </div>

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/main.js"></script>
</body>


</html>